.icon{
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 40px;
    background-color: hsl(216, 12%, 24%);
}
.heading{
    padding-bottom: 25px;
    width: 350px;
}
.subheading{
    width: 350px;
    line-height: 23px;
}
.buttons{
    padding: 30px 0;
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    background-color: hsl(216, 12%, 24%);
    color: var(--clr-btn-text);
    border-radius: 50px;
    width: 50px;
    cursor: pointer;
    height:50px;
    border: none;
    transition: color 0.2s, background-color 0.2s;
}
.btn:hover{
    background-color: hsl(214,12%,54%);
    color: var(--clr-heading);
}
.btn:focus{
    background-color: var(--clr-btn);
    color: var(--clr-heading);    
}
.submit{
    background-color: var(--clr-btn);
    width: 340px;
    font-weight: 700;
    color: var(--clr-heading);
    border-radius: 30px;
    cursor: pointer;
    height: 45px;
    transition: color 0.2s, background-color 0.2s;
}
.submit:hover{
    background-color: var(--clr-heading);
    color: var(--clr-btn);
}